.app {
  text-align: center;
  color: white;
  background-color: black;
    display: flex;
  
}

h1{
  font-weight: bold;
  padding-bottom: 5%;
  padding-top: 5%;  

}
.logo{
  padding: 2%;
  padding-bottom: 10%;
  width: 50%;
  
}

.content{
    justify-content: center;
    top: 10%;
  padding-right: 20%;
  
}